*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 30vh;
}

.main__titulo{
    display: none;
}

.main__logo{
    width:28vw;
    margin-bottom: 18vh;
}

.main__slogan{
    letter-spacing: 4px;
    color: #EBF0E9;
    font-size: 3vh;
    font-weight: 300;
    opacity: 0.7;
    animation: opacity 3s ease-in-out infinite;
}

footer{
    color: #EBF0E9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
}

.footer__redes a {
    height: fit-content;
}

.footer__redes a:hover img{
    transition: 0.2s;
    opacity: 1;
}

.footer__redes a img{
    width: 20px;
    margin-right: 32px;
    opacity: 0.7;
    transition: 0.2s;
}

.footer__gap{
    margin-right: 32px;
}

.footer__container{
    height: fit-content;
    display: flex;
}

.footer__container-mail{
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 16px;
    margin: 0;
    height: fit-content;
    opacity: 0.7;
}

/* ANIMACIONES */

@keyframes opacity {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

/* TABLET 768px-1024px */

@media (max-width: 1024px) {
    
    .main{
        margin-bottom: 25vh;
    }
    .main__logo{
        width:58vw;
    }
}

/* MOBILE 425px-768px */

@media (max-width: 768px) {
    
    .main{
        margin-top: 2vh;
        margin-bottom: 23vh;
    }
    .main__logo{
        width:90vw;
    }
    .main__slogan{
        font-size: 2.5vh;
    }
    footer{
        flex-direction: column;
    }
    .footer__redes{
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        width: 35%;
    }
    .footer__redes a img{
        margin: 0;
    }
    .footer__gap{
        display: none;
    }
}

/* MOBILE 375px-425px */

@media (max-width: 425px) {
    footer{
        margin-top:5rem;
    }
    .footer__redes{
        width: 50%;
    }
}

/* MOBILE 320px-375px */

@media (max-width: 425px) {
    .main__slogan{
        font-size: 2.2vh;
    }
    .footer__redes{
        width: 60%;
    }
}

/* MOBILE 250px-320px */

@media (max-width: 425px) {
    .main__slogan{
        font-size: 1.8vh;
    }
}